@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
  margin: 0;
  font-family: 'Single Day', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #420308;
  background-color: #fcc7cb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
